.working-layout {
  /* max-width: 1200px; */
  overflow-x: hidden;
  margin: 100px auto;
  z-index: 5;
  
}

@media (max-width: 768px) {
  .working-layout {
    max-width: 100%;
  }
}

.container {
  /* background-color: rgb(47, 29, 91); */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  
  position: relative;
  margin: 0 auto;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  z-index: 3;
}

.head_about {
  display: inline-block;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: var(--primaryColor);
  background: linear-gradient(
    90.99deg,
    #fdce39 0.27%,
    #fd8963 30%,
    #ed5174 98.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--headingFontFamily);
  font-weight: bold;
}

.head_title {
  margin-top: 0;
  color: white;
  font-size: 45px;
  font-weight: 800;
}

.listItems {
  display: flex;
  flex-direction: row;
  margin-top: 20px auto;
  gap: 50px;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.listItem {
  background-color: #0f0824;
  color: white;
  font-size: 18px sansrif;
  border-radius: 10px;
  padding: 22px 70px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.listItem:hover {
  background-color: linear-gradient(
    90.99deg,
    #fdce39 0.27%,
    #fd8963 30%,
    #ed5174 98.69%
  );
}

.imageContainer {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  max-height: 75%;
  max-width: 95%;
  z-index: 3;
}

.imageContainer img {
  border-radius: 65px;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.image_description {
  display: grid;
  grid-template-columns: 400px auto;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0px 12px;
  overflow: hidden;
}

.image_title span {
  padding: 0 20px;
  margin: 0 0 12px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: var(--headingFontFamily);
  text-align: left;
}

.image_about {
  color: white;
  padding: 0 25px;
  justify-content: center;
  align-items: flex-start;
}
.image_about p {
  font-family: var(--fontFamily);
  color: var(--paragraphColor);
  font-size: var(--fontSize);
  line-height: 1.8;
  font-weight: 300;
  text-align: left;
}

.select-focus {
  background: linear-gradient(#0f0824, #0f0824) padding-box,
    linear-gradient(90.99deg, #fdce39 0.27%, #fd8963 30%, #ed5174 98.69%)
      border-box;
  border: 4px solid transparent;
  animation: gradientAnimation 3s ease infinite; /* Adjust the duration (3s in this case) */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.overlay-rot-img-b {
    width: auto;
    height: auto;
    position: absolute;
    top: 6%;
    left:17%;
    /* inset: 0; */
    z-index: 0;
    animation: rotation 30s infinite linear;
  }

  .overlay-rot-img-c {
    width: auto;
    height: auto;
    position: absolute;
    top: 30%;
    right:7%;
    /* inset: 0; */
    z-index: 0;
    animation: rotation 30s infinite linear;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(359deg);
    }
  }
  