
.home-layout{
  margin: 0 auto;
}

@media (max-width: 768px) {
  .home-layout {
    max-width: 100%;
  }
}

.background-img {
  position: relative;
  inset: 0;
  height: 100vh;
  width: 100vw;

  filter: contrast(102%) brightness(90%);
  /* object-fit: cover; */
  /* filter: grayscale(90%); */

}

.overlay-div {
  position: absolute;
  inset: 0;
  top: 0;;
  display: flex;
  z-index: 2;
  justify-content: space-evenly;
  align-items:center;
}



.inner-div-left {
  flex: 4;
  padding: 20px;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.overlay-img {
  max-width: 50%;
  opacity: 0.7;
  z-index: 2;
  height: auto;
  position: absolute;
  inset: 0;
  animation: on-off 5s infinite linear;
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition for opacity */

}




.overlay-rot-img {
  width: auto;
  height: auto;
  position: absolute;
  margin: 6% 32%;
  inset: 0;
  animation: rotation 30s infinite linear;
}
 .wrapper{
  display:flex;
  flex-direction: column;
 }

.wrapper h1 {
  font-family: var(--headingFontFamily);
  font-size: 80px;
  font-weight: bold;
  line-height: 90px;
  color: var(--whiteColor);
  text-align: left;
  margin: 20px 0px;
}

.wrapper p {
  margin: 20px 10px;
  text-align: left;
  text-wrap: wrap;
  font-size: 16px;
  color: #beb8cc;
  line-height: 30px;
  /* line-height: 1.25rem;  */
}

.inner-div-right {
  flex: 3;
  display: flex;
  z-index: 5;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: aqua; */
}

.banner-img-div{
  position: relative;
}



.img-ani-scale {
  height: 80%;
  overflow: hidden;
  animation: scale-up-down 30s linear infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes on-off {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes scale-up-down {
  0% {
    transform: scale(0.7) rotate(0) translateX(0);
  }
  25% {
    transform: scale(0.75) rotate(15deg) translateX(5px);
  }
  50% {
    transform: scale(0.8) rotate(0) translateX(-5px);
  }
  75% {
    transform: scale(0.75) rotate(-15deg) translateX(-5px);
  }
  100% {
    transform: scale(0.7) rotate(0deg) translateX(5px);
  }
   /* Add this line */
}

