.container {
    height: 100%;
    width: 100%;
  }
  
  .content {
    background: linear-gradient(98.28deg,#fdcf39c6 2.11%,#FD8963 30.92%,#ED5174 97.49%);
    height: 200px;
    margin: 10px 15%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .partners {
    
  }
  
  .partner {

  }
  
  .partner img {
    
  } 