.container {
  margin: 0px 0px;
  margin-bottom: 50px;
   /* Ensure the container takes full width */
}

.newsItems {
  margin: 20px 10%; /* Adjust margins for smaller screens */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust as needed */
  gap: 20px;

}

/* Add container query for larger screens */
@container (min-width: 768px) {
  .newsItems {
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
    grid-template-columns: repeat(align-items , minmax(350px, 1fr));
  }
}

/* Add more container queries for different screen sizes as needed */

/* Add other styles as needed */
