@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Changa';
  src: url('./fonts/Changa/Changa-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}




:root {
  --fontFamily: "Roboto", sans-serif;
  --headingFontFamily: "Changa", sans-serif;
  --btnFontFamily: "Ubuntu", sans-serif;
  --primaryColor: #712af9;
  --secondaryColor: #FA26CA;
  --paragraphColor: #beb8cc;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --bgColor: #1a1135;
  --borderRadius: 5px;
  --transition: .5s;
  --fontSize: 16px;
  --boxShadow: 0 0 20px 3px rgba(0, 0, 0, .05);
}

html,body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family:var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  font-size: var(--fontSize);
  color: var(--whiteColor);
  overflow-x: hidden;



}

button{
  font-family: var(--btnFontFamily);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



